.year-card {
    .card-header {
        background-color: #435d78 !important;
        border: none !important
    }
    .card-body {
        background-color: #2b3c4e !important;
        border: none !important
    }
    .card-footer {
        background-color: #2d3f51 !important;
        border: none !important
    }
}

.month-card {
    .card-header {
        background-color: #72a7d3 !important;
        border: none !important
    }
    .card-body {
        background-color: #5394c9 !important;
        border: none !important
    }
    .card-footer {
        background-color: #438ac4 !important;
        border: none !important
    }
}

.week-card {
    .card-header {
        background-color: #3ac693 !important;
        border: none !important
    }
    .card-body {
        background-color: #37bf8d !important;
        border: none !important
    }
    .card-footer {
        background-color: #32af81 !important;
        border: none !important
    }
}

.last-session-card {
    .card-header {
        background-color: #abb8b9 !important;
        border: none !important
    }
    .card-body {
        background-color: #95a5a6 !important;
        border: none !important
    }
    .card-footer {
        background-color: #8a9c9d !important;
        border: none !important
    }
}

.year-card, .month-card, .week-card, .last-session-card {
    color: #FFFFFF;
    .card-title {
        color: #FFFFFF;
    }
}

.year-card, .month-card, .week-card, .last-session-card {
    .card-footer {
        font-weight: 100;
    }
    .card-body {
        font-weight: 500;
    }
}

.recent-activity {
    padding: 0 5px;
}

.upvoted-msg {
    font-style: italic;
}

.view-result {
    position: relative;
    top: -6px;
}

.table-hover {
    td {
        max-width: 100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}