APP_PORT=3001
APP_HOST=localhost
NODE_ENV=development
DB_NAME='addins'
DB_USERNAME='root'
DB_PASSWORD='pass'
DB_DIALECT='mariadb'
DB_HOST='localhost'
SALT_ROUNDS=YOUR_VALUE
JWT_PRIVATE_KEY=YOUR_KEY

IP_PARSE_URL = YOUR_IP_PARSE_URL
IP_TOKEN = YOUR_IP_PARSE_TOKEN

MANDRILL_API_KEY=YOUR_MANDRILL_API_KEY