@import "../../index.scss";

.sst-logo-header {
    img {
      	margin: -5px 0 0 30px;
      	max-width: 100%;
      	max-height: 100%;
      	width: 160px;
    }
}

header {
    height:50px;
    width:100%;
    line-height: 35px;
    background: $darkestMainColor;
    position: fixed;
	z-index: 1;
	
	.header-content {
		line-height: 25px;
		padding: 12px;
  	}
  	.menu-button:hover {
		cursor: pointer;
		color: #fff;
	}
	.menu-button {
		transition: 300ms all;
		color: rgba(255, 255, 255, 0.5);
		padding: 6px 12px;
	}
}
