.App {
  margin-top: 0px;
  padding-left: 0px;
  width: 100%;
}

.hamburger-menu{
  background-color: #154d75;
  color: #fff;
  border: none;
  margin-left: 350px;
  font-size: 30px;
}

button:focus,button:active {
  outline: none;
  box-shadow: none;
}

.menu-items{
  margin-left: 40px;
}
.menu-items > .section-header{
  font-size: 22px;
  color: #eeeeee;
}
.menu-items > .fa-ul > li > a, .menu-items > .fa-ul{
  margin-left: 10px;
  color: #fff;
}

.fa-ul i{
  min-width: 27px;
}


.sideBar {
  padding: 0px;
  width: 350px;
  height: 1000px;
  background-color: #154d75;
  display: block;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  position: absolute;
  top: 0px;
  left: 0px;
  transition: transform 0.3s ease;
  will-change: transform;
  transform: translateX(-100%);
}
