// @TODO Make separate scss files for different components

// Colors
$lightMainColor : #3a5e79;
$mainColor : #1d4b6f;
$darkerMainColor : #1a4363;
$darkestMainColor : #063152;

$lightestGray : #f9f9f9;
$lighterGray : #eeeeee;
$mainGray : '';
$darkerGray : #5c5c5c;

// Animations 
$defaultAnimation : 250ms all;

// Fonts
$defaultFont : 'Roboto', sans-serif;
$titleFont : 'Roboto Slab',sans-serif;

// Overall CSS

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html, body, .App, .wrapper, #root {
  height:100%;
  font-family: $defaultFont;
  background-color: $lighterGray;

}

.App {
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
    color: $darkerGray;
}
  
header {
  height:50px;
  width:100%;
  line-height: 35px;
  background: $darkestMainColor;
  position: fixed;
  z-index: 1;
}
  
  header .header-content {
    line-height: 25px;
    padding: 12px;
  }
  
  header .menu-button:hover {
    cursor: pointer;
  }
  
  .react-bs-table-search-form {
    margin-bottom: 0;
    padding: 5px 0 10px 0;
  }
  
  .header-panel h1 {
    font-size: 1.5em;
  }
   
  .menu-button {
    color: #fff;
    padding: 6px 12px;
    transform: scale(1.337);
  }
  
  a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  .sideBar {
    .list-group-item {
      padding:16px 4px 12px 48px;
      text-align:left;
      transition: $defaultAnimation;
      border-radius: 0px !important;
      border-right: none;
      background:none;
      border-bottom: 1px solid $lightMainColor;
      border-top:none;
      border-right:none;
      border-left:none;
    }
    .list-group-item .text {
      color: #9dbbd2;
    }
    
    .list-group-item i {
      left: -24px;
      position: relative;
    }
  
    .list-group-item .fa {
      max-width: 12px;
    }
    
    .list-group-item:hover {
      background-color: #00000015;
    }
  }
  

  
 
  
  .section-header {
    background-color: $darkerMainColor;
    max-height:100px;
    transition: $defaultAnimation;
  }
  
  .section-header p {
    padding:15px;
    text-transform: uppercase;
    font-weight:900;
  }
  
  .hamburger-menu{
    background-color: #154d75;
    color: #fff;
    border: none;
    margin-left: 300px;
    font-size: 30px;
  }
  
	button:focus,button:active {
		outline: none;
		box-shadow: none;
	}

  	.sideBar.in {
		width: 64px;
		.text {
			left: -500px;
			opacity: 0.01;
		}
		.list-group-item {
			width: 64px;
		}
		.list-group {
			transition: $defaultAnimation;
			width: 85px;
		}
  }
  
  .sideBar {
    background-color: #1d4b6f;
    transition: $defaultAnimation;
    width: 250px;
    height:100%;
    bottom:0px;
    margin-top:50px;
    font-size:13px;
    top: 0px;
    left: 0px;
    position: fixed;
    color: #fff;
    padding: 0px;
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    white-space: nowrap;
    z-index: 11;
    overflow: hidden;

    .text {
      transition: $defaultAnimation;
      left: 0px;
      position: relative;
      opacity: 1;
    }

    .in {
      .text {
        max-height: 0px;
		  
	  }
	  
	  .section-header {
        max-height: 0px;
      }
    }

    .list-group {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      overflow-y: scroll;
      padding-bottom: 100px;
      width: 270px; 
      
      p {
        margin: 0 !important;
      }
    }
  }
  
  .sideBar.in 
  .sideBar.in, .sideBar.in 
  
  .menu-item {
    height: 48px;
    line-height: 24px;
  }

  .menu-item .list-group-item {
    height: 48px;
  }

  .sideBar.in ~ .view {
    padding-left: 64px;
  }
  
  .view {
    transition: $defaultAnimation;
    padding-top:35px;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  
  .tooltip {
    z-index: 10;
  }

  .crumbs-panel {
    padding: 0px 15px;
    top: -10px;
    position: relative;
  }
  
  .crumbs.fa {
    vertical-align: middle;
    padding: 0px 5px;
  }
  
  .sideBar ~ .view {
    padding-left: 250px;
  }
  
  .sort-head {
    padding-left: 10px;
  }
  
  .loading-container {
    position: absolute;
    height: 150%;
    width: 100%;
    background-color: #ffffff;
    z-index: 10;
  }
  
  .loading-view {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: $defaultAnimation;
    -o-transition: $defaultAnimation;
    transition: $defaultAnimation;
    margin: 0 auto;
    height: 75px;
    text-align: center;
    width: 250px;
    height: 50px;
    padding: 10px 25px;
    border-radius: 5px;
    line-height: 25px;
  }
  
  .error h1 {
    font-size: 30px;
    padding: 10px;
    color: #7b7b7b;
  }
  
  .error {
    background-color: #ffebee ;
    color: #f44336 ;
  }
  
  .error-container {
    height: 100%;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
  }

.view table td, .view table th {
  vertical-align: middle !important;
}

.show-pass:hover {
    cursor: pointer;
}  

.registration-form .panel-body, .password-reset-form .panel-body {
  padding: 15px 15px 0 15px;
}

.registration-form, .password-reset-form, .login-form {
  margin: 0 auto;
  max-width: 512px;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  display: flex;
  align-items: center;
}
.not-logged-in.jumbotron {
  background-color: transparent !important;
}

.particles canvas {
  position: absolute;
  background: #162d3e;
  width: 100% !important;
  height: 100% !important;
}

#map {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

.fill { 
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  max-width: 100%;
}

.view .well {
  line-height: 25px;
  max-width: 400px;
  margin: 0 auto;
}

.forgot-password:hover {
  cursor: pointer;
}



h1, h2, h3, h4, h5, h6 {
  font-family: $titleFont;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.auth-loading-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(255, 255, 255);
  z-index: 9999;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  background: white !important;
  font-size: 24px;
}

.auth-loading-content .fa {
  text-align:center;
  margin: 0 auto;
}

.panel-body.login, .panel-body.register {
  position: relative;
}

.fa-spin {
  -webkit-animation: fa-spin 1s infinite linear !important;
  animation: fa-spin 1s infinite linear !important;
}

.security-error {
  text-align: center;
  height: auto;
  line-height: 32px;
  background: #f2dede;
  color: #a94442;
  font-weight: bold;
}

.security-error p {
  margin: 0 !important;
}

ul.pagination {
  margin: 0 !important;
  float: right;
}

.btn.date {
  margin: 0 5px 0 0;
}

.btn-static {
  background-color: white;
  border: 1px solid lightgrey;
  cursor: default;
}
.btn-static:active {
  -moz-box-shadow:    inset 0 0 0px white;
  -webkit-box-shadow: inset 0 0 0px white;
  box-shadow:         inset 0 0 0px white;
}

.tf-button {
  min-width: 60px;
}


.youtube-container .embed-responsive-16by9 {
  margin: 20px 0px;
}

.picture-upload {
  padding-top: 25px;
  background-color: $lightestGray;
}

.current-picture {
  margin: 0 auto;
  text-align: center;
  width: 128px;
  height: 128px;
  vertical-align: middle;
  border: 5px solid $lighterGray;
  border-radius: 100%;
  padding: 10px;
  cursor: pointer;
}


.menu-profile {
  text-align:left;
}

.profile-image {
  width: 64px;
  height: 64px;
  background: #ffffff;
  border-radius: 100%;
  border: 4px solid $lighterGray;
  text-align: center;
  line-height: 56px;
  color: $darkerGray;
  margin: 16px;
  float: left;
}

.profile-image:hover {
  cursor: pointer;
}

.profile-details {
  padding: 16px 0;
}

.profile-details p {
  padding: 8px 0px;
}
.profile-container {
  padding: 0 0 8px 0;
}

.profile-image, .profile-details {
  display: inline-block;
}

.input-group-addon {
  .fa-circle {
    box-shadow: 0px 0px 5px #2f2f2f;
    border-radius: 50%;
  }
}

.keyword-list {
  overflow-y: scroll;
  max-height: 300px;
}

.toast-default {
  background: #4e4e4e !important;
  color: #ffffff;
  .Toastify__close-button--default {
    color: #ffffff;
  }
}


.sst-logo {
  img {
    margin: -5px 0 0 30px;
    max-width: 100%;
    max-height: 100%;
    width: 160px;
  }
}

.img-container img {
  max-width: 100%;
  max-height: 100%;
}