.App {
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
    color: #5c5c5c;
  }
  
  html {
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  html,body, .App, .wrapper, #root {
    height:100%;
    font-family: 'Roboto', sans-serif;
  }
  
  #root {
    background:#113552; 
  }
  
  .particles {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }
  
  header {
    height:35px;
    width:100%;
    line-height: 35px;
    background:#113552;
    position: fixed;
    z-index: 1;
  }
  
  header .header-content {
    line-height: 35px;
    padding: 0 12px;
  }
  
  header .menu-button:hover {
    cursor: pointer;
  }
  
  .react-bs-table-search-form {
    margin-bottom: 0;
    padding: 5px 0 10px 0;
  }
  
  .header-panel h1 {
    font-size: 1.5em;
    font-weight: 900;
  }
   
  .menu-button {
    color: #fff;
  }
  
  a, a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: inherit;
  }
  
  .list-group-item {
    padding:12px 4px 12px 36px;
    text-align:left;
    transition: 250ms all;
    border-radius: 0px !important;
    border-right: none;
    background:none;
    border-bottom: 1px solid #34678e;
    border-top:none;
    border-right:none;
    border-left:none;
  }
  
  .list-group-item .text {
    color: #9dbbd2;
  }
  
  .list-group-item i {
    left: -24px;
    position: relative;
  }
  
  .list-group-item .fa {
    max-width: 12px;
  }
  
  .list-group-item:hover {
    background-color: #00000015;
  }
  
  .section-header {
    background-color: #00000015;
    max-height:100px;
    transition: 250ms all;
  }
  
  .section-header p {
    padding:15px;
    text-transform: uppercase;
    font-weight:900;
  }
  
  .hamburger-menu{
    background-color: #154d75;
    color: #fff;
    border: none;
    margin-left: 300px;
    font-size: 30px;
  }
  
  button:focus,button:active {
    outline: none;
    box-shadow: none;
  }
  
  .sideBar {
    background-color: #1d4b6f;
    transition: 250ms all;
    width: 250px;
    height:100%;
    bottom:0px;
    margin-top:35px;
    font-size:13px;
    top: 0px;
    left: 0px;
    position: fixed;
    color: #fff;
    padding: 0px;
    display: block;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    white-space: nowrap;
    z-index: 10000;
    overflow: hidden;
  }
  
  .sideBar .list-group {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: -17px; /* Increase/Decrease this value for cross-browser compatibility */
    overflow-y: scroll;
    padding-bottom: 100px;
  }
  
  .sideBar.in .text, .sideBar.in .section-header{
    max-height: 0px;
  }
  
  .sideBar .text {
    transition: 250ms all;
    left: 0px;
    position: relative;
    opacity: 1;
  }
  
  .sideBar.in .text {
    left: -500px;
    opacity: 0.01;
  }
  .sideBar.in, .sideBar.in .list-group-item {
    width: 40px;
  }
  
  .sideBar.in ~ .view {
    padding-left: 40px;
  }
  
  .view {
    transition: 250ms all;
    padding-top:35px;
    height: 100%;
    position: relative;
    z-index: 0;
  }
  
  .crumbs-panel {
    padding: 0px 10px;
    top: -10px;
    position: relative;
  }
  
  .crumbs.fa {
    vertical-align: middle;
    padding: 0px 5px;
  }
  
  .sideBar ~ .view {
    padding-left: 250px;
  }
  
  .sort-head {
    padding-left: 10px;
  }
  
  .loading-container {
    position: absolute;
    height: 150%;
    width: 100%;
    background-color: rgba(0,0,0,0.25);
    z-index: 1;
  }
  
  .loading-view {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-transition: 250ms all;
    -o-transition: 250ms all;
    transition: 250ms all;
    margin: 0 auto;
    height: 75px;
    text-align: center;
    width: 250px;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #f3f3f3;
    padding: 10px 25px;
    border-radius: 5px;
    line-height: 25px;
  }
  
  .error h1 {
    font-size: 30px;
    padding: 10px;
    color: #7b7b7b;
  }
  
  .error .well {
    padding: 20px;
    margin: 10px;
    position: relative;
    top: 25px;
    box-shadow: 1px 1px 1px #d8d8d8;
    background-color: #ffebee ;
    color: #f44336 ;
  }
  
  .error-container {
    height: 100%;
    display: table;
    text-align: center;
    margin: 0 auto;
    padding: 25px;
  }
  
  .error {
    display: table-cell;
    vertical-align: middle;
    padding: 5px;
  }
  
.show-pass:hover {
    cursor: pointer;
}  

input.form-control {
  margin-bottom: 1px !important;
}