// @TODO Make separate scss files for different components

// Colors
$lightMainColor : #3a5e79;
$mainColor : #1d4b6f;
$darkerMainColor : #1a4363;
$darkestMainColor : #063152;

$lightestGray : #f9f9f9;
$lighterGray : #eeeeee;
$mainGray : '';
$darkerGray : #5c5c5c;

// Animations 
$defaultAnimation : 250ms all;

// Fonts
$defaultFont : 'Roboto', sans-serif;
$titleFont : 'Roboto Slab',sans-serif;

// Overall CSS

html {
  overflow-y: scroll;
  overflow-x: hidden;
}

html, body, .App, .wrapper, #root {
  height:100%;
  font-family: $defaultFont;
  background-color: $lighterGray;
}

a, a:hover, a:visited, a:link, a:active {
  text-decoration: none;
  color: inherit;
}

.App {
    margin-top: 0px;
    padding-left: 0px;
    width: 100%;
    color: $darkerGray;
}

.react-bs-table-search-form {
    margin-bottom: 0;
    padding: 5px 0 10px 0;
}
  
button:focus,button:active {
	outline: none;
	box-shadow: none;
}

.view table td, .view table th {
  	vertical-align: middle !important;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $titleFont;
}

ul.pagination {
	margin: 0 !important;
	float: right;
}

.input-group-addon {
  	.fa-circle {
		  border-radius: 50%;
  	}	
}

.img-container img {
	max-width: 100%;
	max-height: 100%;
}

.fa-spin {
  -webkit-transform-origin: 50% calc(50% - .5px) !important;
  transform-origin: 50% calc(50% - .5px) !important;
}