.modal-open {
    padding-right: 0px !important;
    position: relative !important;
    overflow: visible !important;
}

.twitter-picker {
    box-shadow: none !important;
}

.hue-pick-container {
    padding: 10px 0px;
}

.hue-picker {
    padding: 10px 12px;
    margin: 12px;
}

.hue-horizontal {
    max-width: 95%;
    height: 18px !important;
}

.fa-square {
    transform: scale(1.5);
}