@import "../../index.scss";

.picture-upload {
	padding-top: 25px;
	background-color: $lightestGray;
}

.picture-preview {
	text-align: center;
}
 
.current-picture {
	margin: 0 auto;
	text-align: center;
	width: 128px;
	height: 128px;
	vertical-align: middle;
	border: 5px solid $lighterGray;
	border-radius: 100%;
	padding: 30px 0;
	cursor: pointer;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

.clear-icon {
    padding: 10px;

    :hover {
        cursor: pointer;
    }
}
