
.message-filter {
    .panel {
        h3 {
            margin: 0px;
        }
    }

    .panel-footer {
        border-bottom: 1px solid #dddddd;
    }

    .filter-help:hover {
        cursor: pointer;
    }

    .more-toolbar {
        display:inline-flex;
    }

    .sort-button {
        max-width: 100px;
    }

    .messages-body {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;

        .list-group {
            margin-bottom: 0;
        }
    }
}