
.message-filter {
    .panel {
        h3 {
            margin: 0px;
        }
    }

    .panel-footer {
        border-bottom: 1px solid #dddddd;
    }

    .filter-help:hover {
        cursor: pointer;
    }

    .more-toolbar {
        display:inline-flex;
    }

    .sort-button {
        max-width: 100px;
    }

    .messages-body {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0px;

        .list-group {
            margin-bottom: 0;
        }
    }
}

.full-screen:hover {
    cursor: pointer;
}

.message {
    display: table-row;
    min-height: 37px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #f7f7f7;
    overflow: hidden;
    border: 0px solid #dddddd;
    border-bottom-width: 1px;
    background: #ffffff;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    div {
        display: table-cell;
        padding: 10px;
    }
    .msg-text {
        text-align: left !important;
        vertical-align: top;
    }
    .upvotes {
        max-width: 55px;
        text-align: center;
        border-right: 1px solid #dddddd;
    }
    .counter, .starred, .select, {
        max-width: 40px;
        text-align: center;
        border-right: 1px solid #dddddd;
    }
}

.message:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}