.sort-head {
    padding-left: 10px;
}

.tf-button {
    min-width: 60px;
}

.btn.date {
    margin: 0 5px 0 0;
}
  
.btn-static {
    background-color: white;
    border: 1px solid lightgrey;
    cursor: default;
}
  
.btn-static:active {
    -moz-box-shadow:    inset 0 0 0px white;
    -webkit-box-shadow: inset 0 0 0px white;
    box-shadow:         inset 0 0 0px white;
}