.particles {
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background: no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    canvas {
        position: absolute;
        background: #162d3e;
        width: 100% !important;
        height: 100% !important;
    }
}

.security-error {
    text-align: center;
    height: auto;
    line-height: 32px;
    background: #f2dede;
    color: #a94442;
    font-weight: bold;
}
  
.security-error p {
    margin: 0 !important;
}