.sst-logo {
    img {
        max-width: 90%;
        max-height: 90%;
        transform: scale(0.75);
    }
    padding: 60px 0 0 0;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    text-align: center;
}
