.message {
    display: table;
    width: 100%;
    div {
        padding: 12px 16px;
        display: inline;
        border-left: 1px solid #dddddd;
        border-collapse: collapse;
        border-spacing: 0px;
    }
}

.message:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}