.message {
    display: table-row;
    min-height: 37px;
    box-sizing: border-box;
    font-size: 13px;
    background-color: #f7f7f7;
    overflow: hidden;
    border: 0px solid #dddddd;
    border-bottom-width: 1px;
    div {
        display: table-cell;
        height: 100%;
        min-width: 35px;
    }
}

.message:hover {
    cursor: pointer;
    background-color: #f5f5f5;
}